@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  font-family:ui-sans-serif, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji", sans-serif;
}

html,
body {
  min-height: 100%;
  margin: 0;
  padding: 0;
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-color: #f9fafc;
}

#__next {
  height: 100%;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

:root {
  --bfe-orange-light: #FFB257;
  --bfe-orange:       #EC6921;
  --bfe-green-light:  #84C85A;
  --bfe-green:        #63B338;
}

body {
  color: rgb(var(--foreground-rgb));
  /* background: linear-gradient(to bottom, transparent, rgb(var(--background-end-rgb)))
    rgb(var(--background-start-rgb)); */
}
.btn-primary {
  @apply bg-gradient-to-r from-bfe-orange-light to-bfe-orange text-white
         font-bold rounded-md px-4 py-2 shadow hover:brightness-90
         transition-all duration-200;
}
.btn-secondary {
  @apply text-bfe-green border border-bfe-green rounded-md px-4 py-2
         hover:bg-bfe-green hover:text-white transition-all duration-200;
}


@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}
